{% extends 'layout.html'%}  # sou o filho

{%block body%}

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Conceito</th>
            <th>Descrição</th>
            <th>Tradução</th>
        </tr>
    </thead>
    <tbody>
        {%for conceito in conceitos%}
        <tr>
            <td><a href="/conceitos/{{conceito}}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{conceito}}</a></td>
            <td>{{conceitos[conceito]["desc"]}}</td>
            <td>{{conceitos[conceito]["en"]}}</td>
        </tr>
        {%endfor%}

    </tbody>
</table>

{%endblock%}