{% extends 'layout.html'%}  # sou o filho

{%block body%}

<div class="container mt-1 ml-0">
    <h3 class="text-start display-5">Pesquisa Detalhada</h3>
    <form action="/pesquisa_detalhada" method="POST">
        <div class="mb-3">
            <div class="card-body d-flex align-content-center align-items-center">
              <h2 class="card-title" style="margin-right: 1%;">Operador de Pesquisa:</h2>
                <input type="radio" style="margin-right: 0.5%;" name="options" value="and" required="True"><p style="margin-right: 1.5%; margin-bottom: 0%;"> AND </p><br>
                <input type="radio" style="margin-right: 0.5%;" name="options" value="or" required="True"> OR <br>
              </div>
        </div>

          
        <h2 class="card-title" style="margin-right: 1%;margin-bottom: 1%;">Fontes:</h2>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sources" value="Glossário do Ministério da Saúde" id="flexCheck2">
            <label class="form-check-label" for="flexCheck2">
                Glossário do Ministério da Saúde
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sources" value="Vocabulário de Medicina" id="flexCheck2">
            <label class="form-check-label" for="flexCheck2">
                Vocabulário de Medicina
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sources" value="Minidicionario de Cardiologista" id="flexCheck3">
            <label class="form-check-label" for="flexCheck3">
                Minidicionario de Cardiologista
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sources" value="Harvard Medical School" id="flexCheck4">
            <label class="form-check-label" for="flexCheck4">
                Harvard Medical School
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sources" value="Great Ormond Street Hospital (GOSH)" id="flexCheck5">
            <label class="form-check-label" for="flexCheck5">
                Great Ormond Street Hospital (GOSH)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sources" value="Health Careers" id="flexCheck6">
            <label class="form-check-label" for="flexCheck6">
                Health Careers
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sources" value="Honor Health" id="flexCheck7">
            <label class="form-check-label" for="flexCheck7">
                Honor Health
            </label>
        </div>

        <div class="mb-3">
            <div class="card-body d-flex align-content-center align-items-center">
              <h2 class="card-title" style="margin-right: 1%; margin-top: 1%;">Idioma:</h2>
              <select class="form-select w-auto" id="validation"name="language">
                <option selected disabled>Escolha um idioma</option>
                <option value="en">Inglês (EN)</option>
                <option value="es">Espanhol (ES)</option>
                <option value="pt">Português (PT)</option>
                <option value="todos">Todos</option>
              </select>
            </div>
        </div>

        <div class="mb-3">
            <div class="card-body d-flex align-content-center align-items-center">
              <h2 class="card-title" style="margin-right: 1%;  margin-top: 1%;">Termo:</h2>
              <input class="form-control mr-sm-2 w-50" type="search" name="termo" placeholder="O que deve incluir o termo?" aria-label="Search">
            </div>
        </div>

        <div class="mb-3">
            <div class="card-body d-flex align-content-center align-items-center">
              <h2 class="card-title" style="margin-right: 1%;  margin-top: 1%;">Descrição:</h2>
              <input class="form-control mr-sm-2 w-50" type="search" name="descricao" placeholder="O que deve incluir a descrição?" aria-label="Search">
            </div>
        </div>

        <div class="mb-3">
            <div class="card-body d-flex align-content-center align-items-center">
              <h2 class="card-title" style="margin-right: 1%;  margin-top: 1%;">Sinónimos:</h2>
              <input class="form-control mr-sm-2 w-50" type="search" name="sinonimos" placeholder="Indique sinónimos do termo" aria-label="Search">
            </div>
        </div>

    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>

{%if pesquisa%}

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Indice</th>
            <th>Idioma</th>
            <th>Termo</th>
            <th>Descricao</th>
            <th>Fontes</th>
            <th>Sinonimos</th>
        </tr>
    </thead>
    <tbody>
        {%for idioma in matches%}
            {%for indice in matches[idioma]%}
                <tr>
                    <td>{{indice}}</td>
                    <td>{{idioma}}</td>
                    <td><a class="list-group-item list-group-item-action" href="/conceitos/{{idioma}}/{{indice}}">{{matches[idioma][indice]['Termo'] | safe }}</a></td>
                    {% if matches[idioma][indice]['Definicao'] %}
                        <td>{{matches[idioma][indice]['Definicao'] | safe }}</td>
                    {% else %}
                        <td>Definição não disponível</td>
                    {%endif%}
                    {% if matches[idioma][indice]['Fontes'] %}
                        <td>{{ ', '.join(matches[idioma][indice]['Fontes']) }}</td>
                    {% else %}
                        <td>Fontes não disponíveis</td>
                    {%endif%}
                    {% if matches[idioma][indice]['Sinonimos'] %}
                        <td>{{ ', '.join(matches[idioma][indice]['Sinonimos']) | safe }}</td>
                    {% else %}
                        <td>Sinonimos não disponíveis</td>
                    {%endif%}
                </tr>
            {%endfor%}
        {%endfor%}
    </tbody>
</table>

{% endif %}
{%endblock%}